apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: filmapi

labels:
  - pairs:
      app.kubernetes.io/managed-by: kustomize
    includeSelectors: false

resources:
  - configmap.yaml
  - secret.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml

commonLabels:
  app.kubernetes.io/part-of: filmapi-stack

images:
  - name: maxxa/py_graphql
    newTag: latest
